
<%= form_for @secret, url: secrets_path do |f| %>
  <%= f.text_area :message, placeholder: "Put your secret message here!" %>
  <%= f.submit "Post", class: 'btn btn-primary' %>
<% end %>

<% @secrets.each do |p| %>
  <div class="body"><%= p.message %></div>
  </br></br>
<% end %>
